
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet"> 
</head>
<body class="main-login">

<header>    
    <form class="login-form" action="/profile" method="post">
        <label class="login-text" for="">email</label>
        <input type="email" name="email">
        <label class="login-text" for="">password</label>
        <input type="password" name="password">
    <button>Login</button>
    </form>
</header>

<div class="sign-up-wrapper">


</div>

</body>
</html>