<%# <header>
    <div class="profile">
        <h3>
            <a href="/newsfeed">newsfeed</a> <a href="/wishlist">wishlist</a>   <a href="/profile">profile</a>  
        </h3>
        <h2>

        </h2>
        <h2>
            profile
        </h2>


    </div>
</header> %>



<form action="/items" method="post">
    <label for="">add item</label>
    <input type="text" name="item">
    <button>Submit</button>
</form>
    <div>Items</div>
<div>
    <% items.each do |item| %>
        <button class="delete-button"><a href="/item_info/<%= item['id']%>"><%= item['name'] %> </a></button>
        <br>
    <% end %>
</div>
