
<div class="row">
    <div class="col-sm-4">Items
    <% items.each do |item| %>
        <div class="col-sm-4">
            <button class="btn btn-light"><a href="/item_info/<%= item['id']%>"><%= item['name'] %> </a></button>
        </div>
    <% end %>
</div>


<form action="/items" method="post">
    <label for=""></label>
    <input type="text" name="item" placeholder="add item">
    <button class="btn btn-light">Submit</button>
</form>
