
<br>
<div>things that might interst you.</div>
<br>

<% items.each do |item| %>
    <div class="newsfeed-items"><a href="/item_info/<%= item['id']%>"><%= item['name'] %></a>  from <%= find_user_by_id(item['user_id'])['email'] %></div>
<% end %>
