
<br>
<div>things that might interst you.</div>
<br>

<% items.each do |item| %>
    <div class="newsfeed-items"><%= item['name'] %>  from <%= find_user_by_id(item['user_id'])['email'] %></div>
<% end %>
