
<header>
    <div class="profile">
        <h3>
            <a href="/newsfeed">newsfeed</a>
        </h3>
        <h2>
            <%= user["name"] %>
        </h2>
        <h2>
            profile
        </h2>
    </div>
</header>
<div class="profile-wrap">
    <div>
        <p> your items :</p>
    </div>
    <div>
        <p>wishlish :</p>
    </div>
    <div>
        <% items.each do |item| %>
            <p><%= item['name'] %> </p>
        <% end %>
        
        <a href="/items">add merch</a>
    </div>
    <div>
        <p>item one</p>
        <p>item two</p>
        <a href="/wishlist">your wishlist</a>
    </div>
</div>

<br>

