
<header>
    <div class="profile">
        <h3>
            <a href="/newsfeed">newsfeed</a> <a href="/items">Inventory</a>  <a href="/wishlist">wishlist</a>
        </h3>
        <h2>
            <%= user["name"] %>
        </h2>
        <h2>
            profile
        </h2>
    </div>
</header>
<div class="profile-wrap">
    <div>
        <p>Inventory :</p>
    </div>
    <div>
        <p>Wishlish :</p>
    </div>
    <div>
        <% items.each do |item| %>
            <li><a href="/items"><%= item['name'] %> </a></li>
        <% end %>
        
        <%# <a href="/items">Items Info</a> %>
    </div>
    <div>
        <% wishlist.each do |item| %>
            <li><a href="/items"><%= item['name'] %> </a></li>
        <% end %>
        
    </div>
</div>

<br>

