
<div>
    <%= user['name'] %>'s  Profile
</div>
<div class="profile-wrap">
    <div>
        <p>Inventory :</p>
    </div>
    <div>
        <p>Wishlist :</p>
    </div>
    <div>
        Rating: 1
    </div>
    <div>
        <% items.each do |item| %>
            <li><a href="/item_info/<%= item['id']%>"><%= item['name'] %> </a></li>
        <% end %>
        
        <%# <a href="/items">Items Info</a> %>
    </div>
    <div>
        <% wishlist.each do |item| %>
            <li><a href="/profile"><%= item['name'] %> </a></li>
        <% end %>
        
    </div>
</div>

<br>

