

<div class="profile-wrap">
    <div>
        <p>Inventory :</p>
    </div>
    <div>
        <p>Wishlish :</p>
    </div>
    <div>
        <% items.each do |item| %>
            <li><a href="/items"><%= item['name'] %> </a></li>
        <% end %>
        
        <%# <a href="/items">Items Info</a> %>
    </div>
    <div>
        <% wishlist.each do |item| %>
            <li><a href="/items"><%= item['name'] %> </a></li>
        <% end %>
        
    </div>
</div>

<br>

