
<header>
    <div class="profile">
        <h3>
            <a href="/newsfeed">newsfeed</a>
        </h3>
        <h3>
            <%= user["email"] %>
        </h3>
        <h3>
            profile
        </h3>
    </div>
</header>
<div class="profile-wrap">
    <div>
        <p> your items :</p>
    </div>
    <div>
        <p>wishlish :</p>
    </div>
    <div>
        <p><%= items['name'] %> </p>
        
        <a href="/items/add">add merch</a>
    </div>
    <div>
        <p>item one</p>
        <p>item two</p>
        <a href="/wishlist">your wishlist</a>
    </div>
</div>

<br>

