
click on item to delete
<div class="row">
    <div class="col-sm-4">
    <% items.each do |item| %>
        <form action="/wishlist/<%= item["id"] %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <div><button class="btn btn-light"><%= item['name'] %> </button> </div>
            <br>
        </form>
    <% end %>
    
</div>


<form action="/wishlist" method="post">
    <label for="">add item</label>
    <input type="text" name="wishlist_item">
    <button class="btn btn-light">Submit</button>
</form>
