<header>
    <div class="profile">
        <h3>
            <a href="/newsfeed">newsfeed</a>   <a href="/items">inventory</a>   <a href="/profile">profile</a>
        </h3>
        <h2>
            <%= user["name"] %>
        </h2>
        <h2>
            wishlist
        </h2>
    </div>
</header>
<form action="/wishlist" method="post">
    <label for="">add item</label>
    <input type="text" name="wishlist_item">
    <button>Submit</button>
</form>

click on item to delete
<div>
    <% items.each do |item| %>

    <form action="/wishlist/<%= item["id"] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    

    <div><button class="delete-button"><%= item['name'] %> </button> </div>
    <br>

    <% end %>
    
</div>
