*{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body{
    background-image: url("");
    display: grid;
    background-color: rgb(216, 216, 216);
}
.main-login{
    background-image: url("../Images/Untitled-Project\(3\).jpg");

}
header{
    background-color: rgba(0, 0, 0, 0.945);
    padding: 0;
    margin: -8px;
    color: orange;
}
.sign-up-wrapper{
    height: 320px;
    width: min-content;
    display: grid;
    justify-content: flex-end;
    background-color: #fff;
    margin-left: 70%;
    border-radius: 3%;
    margin-top: 10%;
    padding: 20px;
    grid-template-rows: 1fr 1fr;
}
.signup-form{
    display: grid;
    justify-content: flex-end;
}
.login-wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    color: rgba(245, 245, 220, 0.747);
    margin: 120px 120px auto auto;
    border-radius: 5%;
    padding: 34px;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.login-text{
    padding: 12px 20px;
    margin: 8px 0;
}

.main{
    padding: 0 8px 66px 8px;
}
a{
    color: orange;
    
}
.item-link, .user-link{
    color: black;
}
button:hover{
    background-color: rgb(255, 255, 255);
} 
.profile-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.profile{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 0;
}
.newsfeed-items{
    display: grid;
    gap: 10px;
    padding: 50px;
    margin: 50px;
    background-color: rgba(119, 119, 119, 0.212);
    border: 5px solid rgba(94, 84, 84, 0.062);
}
.newsfeed-items:hover{
    background-color: rgba(187, 187, 187, 0.212);
    display: grid;
    gap: 10px;
    border: none;
    background-color: rgba(184, 184, 184, 0.192)
}
.delete-button{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
}
.header-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 210px;
}
.trade-menu-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.receiver-menu, .sender-menu{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding: 30px;
}
.username-header{
    border-bottom: 1px solid black;
}
.trading-page-items-box{
    border-radius: 2%;
    border: 1px solid black;
    height: 90px;
}
.main-container{
    margin: auto;
    width: 80%;
}