*{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body{
    /* background-color: #fff; */
    background-image: url("");
    display: grid;
    background-color: rgb(216, 216, 216);
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.103), rgba(255, 123, 0, 0.322)); */


}
.main-login{
    background-image: url("../Images/Untitled-Project\(3\).jpg");

}
header{
    background-color: rgba(0, 0, 0, 0.945);
    padding: 0;
    margin: -8px;
    /* padding: 20px; */
    color: orange;
}
.sign-up-wrapper{
    height: 320px;
    width: min-content;
    display: grid;
    justify-content: flex-end;
    background-color: #fff;
    margin-left: 70%;
    border-radius: 3%;
    margin-top: 10%;
    padding: 20px;
    grid-template-rows: 1fr 1fr;
    /* color: orange; */
    /* background-color: rgba(0, 0, 0, 0.945); */


}
.signup-form{
    display: grid;
    justify-content: flex-end;

}
.login-wrapper{
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    color: rgba(245, 245, 220, 0.747);
    /* height: 580px; */
    /* width: 400px; */
    margin: 120px 120px auto auto;
    border-radius: 5%;
    padding: 34px;
}
.login-form{
    display: flex;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    
}
.login-text{
    padding: 12px 20px;
    margin: 8px 0;
}
input{
    border-radius: 2%;
    background-color: rgba(194, 194, 194, 0.555);
    padding: 12px 20px;
    margin: 8px 0;
}
button{
    /* border-radius: 40%; */
    padding: 12px 20px;
    background-color: rgba(194, 194, 194, 0.555);
}
.main{
    /* background-color: rgb(255, 229, 205); */
    margin: 8px 220px 100px 200px;
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.829), rgb(255, 200, 148)); */
    padding: 0 8px 66px 8px;
 
        /* backdrop-filter: blur(5px); */
}
a{
    color: orange;
    
}
button:hover{
    /* background-color: orange; */
    background-color: rgb(255, 255, 255);

} 
/* input:hover{
    background-color: rgba(255, 166, 0, 0.137);
} */ 
.profile-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 50px 0 50px;
}
.profile{
    display: grid;
    /* justify-content: flex-end; */
    grid-template-columns: 3fr 1fr 1fr;
    gap: 0;
}
.newsfeed-items{
    /* height: 20px; */
    display: grid;
    gap: 10px;
    padding: 50px;
    margin: 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.281); */
    background-color: rgba(119, 119, 119, 0.212);
    border: 5px solid rgba(94, 84, 84, 0.062);
    /* border-style: groove; */

    /* backdrop-filter: invert(.7); */
}
.newsfeed-items:hover{
    /* height: 20px; */
    
    /* backdrop-filter: blur(50px); */
    /* border-radius: 0 0 0 2%; */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.555), rgba(255, 123, 0, 0.26));
    display: grid;
    gap: 10px;
    /* padding: 50px;
    margin: 50px; */
    border: none;
    /* border: 1px solid rgba(255, 255, 255, 0.212); */
    
    
    background-color: rgba(184, 184, 184, 0.192)
}
.delete-button{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
}
.header-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 210px;
}