
<h1>profile for: <%= trader["vendor_name"] %></h1>
<br>

<a href="/items/<%= trader["id"] %>">your merch</a>
<a href="/wishlist">your wishlist</a>
<a href="/newsfeed">newsfeed</a>
<br>
<%# <a href="/items/add">add merch</a>
<a href="/wishlist/add">add items to your wishlist</a> %>
