*{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body{
    /* background-color: #fff; */
    background-image: url("../Images/Untitled-Project\(5\).jpg");
    display: grid;

}
.main-login{
    background-image: url("../Images/Untitled-Project\(1\).jpg");

}
header{
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: -8px;
    padding: 20px;
    color: orange;
}
.login-wrapper{
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    color: beige;
    /* height: 580px; */
    /* width: 400px; */
    margin: 120px 120px auto auto;
    border-radius: 5%;
    padding: 34px;
}
.login-form{
    display: flex;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    
}
.login-text{
    padding: 12px 20px;
    margin: 8px 0;
}
input{
    border-radius: 2%;
    background-color: rgb(194, 194, 194);
    padding: 12px 20px;
    margin: 8px 0;
}
button{
    border-radius: 40%;
    padding: 12px 20px;
    
}
.main{
    background-color: #fff;
    margin: 5px 200px 0 200px;

}
/* button:hover{
    background-color: orange;
}
input:hover{
    background-color: orange;
} */